  /* Fondo grid claro y fuente arial al body */
  body {
    background-color: rgb(205, 204, 204);
    font-family: Arial, Helvetica, sans-serif;
  }

  /* Centrar el texto del h1 */
h1 {
    text-align: center;
    font-size: 2em;
}

/*
    Para el botón, añadirle un color de fondo llamativo
    Texto blanco y bordes redondeados
*/
button#agregarTarea {
    background-color: cadetblue;
    color: antiquewhite;
    border-radius: 15px;


    padding: 10px;
    font-size: 1.25rem;
    width: 95vw;
    margin: 1.75vw;
    border: none;
    cursor: pointer;
}

button#agregarTarea:hover {
    background-color: rgb(46, 128, 131);
}

.tarea {
        /*
        - Texto centrado
        - margen y padding 10px
        - bordes redondeados
        - borde gris de 1 píxel de estilo
        - color de fondo 

    */
    background-color: #404040;
    color: whitesmoke;
    text-align: center;
    margin: 10px;
    padding: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: darkgray;
    border-radius: 20px 0;
    /*Aqui hemos añadido la regla dentro de la consola del navegador y hemos ido jugando con los valores*/
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
}

/*Cambiar el color de fondo y añadir negrita al pasar con el ratón por encima*/
/* .tarea:hover {    
    background-color: #767575;
} */

.tarea > button {
    color: antiquewhite;
    border: none;
    padding: 5px;
    width: 15vw;
    cursor: pointer;
    border-bottom-right-radius: 15px;
    border-top-left-radius: 15px;
}

button.eliminar {
    background-color: crimson;
}

button.completar {
    background-color: green;
}

button.eliminar:hover {
    background-color: rgb(188, 10, 46);
}

button.completar:hover {
    background-color: rgb(57, 195, 57);
}

.completada {
    background-color: rgb(0 199 65);
}